@page "/admin"
@using AssetManagement.Web.Services

@inject UserManagementService UserManagementService
@inject AssetManagementService AssetManagementService

<PageTitle>Admin</PageTitle>

<MudText>@_authMessage</MudText>

<MudText Typo="Typo.h2">Users</MudText>
@if (_users == null)
{
<p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var user in _users)
    {
        <li>@user.FirstName @user.LastName @user.Email</li>
    }
    </ul>
}

<MudText Typo="Typo.h2">Assets</MudText>
@if (_assets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var asset in _assets)
        {
            <li>@asset.Name</li>
        }
    </ul>
}